@font-face {
    font-family:"robo" ;
    src: url(ROBO.ttf);
}

*{
    font-family: "robo",sans-serif;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 37px;
    text-transform: lowercase;
    height: 184px;
    width: 167px;
    background-color: #B3E140;
    color: #000000;
    border-bottom-right-radius: 68px;
    padding: 50px 16px 55px 21px;
    letter-spacing: 1px;
    
}
.green{
    margin-bottom: 11px;
}

.links-ul{
    margin: 50px;
    display: flex;
    list-style: none;
    gap: 48px;

    text-transform: lowercase;

    
}

.links-li a{
    text-decoration:none;
    color: black;
    font-size: 14px;
    letter-spacing: 0.5px;


}

.nav-img{
    margin-top: 50px;
    display: flex;
    gap :23px;
    margin-right: 60px;
    
}

.img-ul{
    list-style: none;
}

.log-img{
    
    object-fit:contain ;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
}
.container{
    display: flex;
    position: relative;
    overflow: hidden;
}


.cont-btn h1{
    font-size: 102px;
    text-transform: lowercase;
    width: 763px;
    position: relative;
    right: 350px;
    letter-spacing: 2.5px;

}

.shoesimg{
    width: 1066px;
    height: 506px;
    z-index: 1;
    position: relative;
    bottom:140px;
    left: 39px;
}

.btnimg{
    /* width: 412px;
    height: 99px; */
    object-fit: cover;
    box-sizing: border-box;
    z-index: 8;
    position: relative;
    right:150px;
    top:40px
    
}
.cont-btn{
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.btnim{
    width: 412px;
    height: 99px;
}


