 @font-face {
    font-family:"robo" ;
    src: url(ROBO.ttf);
}

*{
    font-family: "robo",sans-serif !important;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.line {
  width: auto;
  height: 2px;
  border: none;
  /* background-color: #B3E140; */
  background-image: linear-gradient(to right ,#B3E140 30%, #C4C4C4 30%,#C4C4C4);  
/* background-image: linear-gradient(#B3E140 30%,#C4C4C4 70%);   */

}




/* nav{
    display: flex;
    justify-content: space-between;
  
}
*/



.logo1{
    font-size: 37px;
    text-transform: lowercase;
    height: 184px;
    width: 167px;
    background-color: #B3E140;
    color: #000000;
    border-bottom-right-radius: 68px;
    padding: 50px 16px 55px 21px; 
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: start;


    
}
.liner{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 576px) {
    .logo1{
        height: 140px;
        width: 120px;
        font-size: 20px;
        padding: 3px;
        border-bottom-right-radius: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: start;


    }
    .images-ham{
        display: flex;
    }
}
.linked{
    gap: 40px;
}
/* ----------------------------------FIRST_container------------------------------ */

.h-cont h1{
    font-size: 102px;
    color:#000000;
    max-width:690px;
}
.button-con{
    width:412px;
    height: 99px;
    background-color:#75A304 ;
}
.button1{
    border: none;
    background-color:#75A304 ;
}
.f-container{
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.text-con{
    margin-top:40px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 0;
}
.button-con{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
    align-self: flex-end;
}
.button1{
    font-size: 30px;

}
.shoes-con{
    width: 40%;
}
.shoes{
    width: 1166px;
    margin-left: -80px;
    margin-top: -90px;
    position: relative;
    z-index: 1;
}

/* -----------------------second-page------------------ */
.sec-con{
    border-top-left-radius: 284px;
    background-color: #B3E140;
    margin-top: -100px;
}
.bg-con{
    margin: 0 auto;
}
.sec-head h1{
    font-size: 122px;
    color: #3D560026;
}

.sec-head h2{
    font-size: 59px;
    color: #000000;
    margin-top: -60px;
    margin-right: 20px;
}
.sec-head{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* ------------------------------cards------------------- */


.card-con{
    width:407px;
    height: 423px;
    position: relative;
    background-color: #C3EB5F;
    z-index: 9;
}
.card1{
    margin-left: 30px;
    margin-right: 10px;
    z-index: 9;

}
.heart-con{
    position: absolute;
    top:50px;
    left:35px;
}
.card1{
    width:407px;
    height: 423px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cardi{
    z-index: 0;
    /* position: absolute; */
    
    font-size: 92px;
    color:#94BD2F;
    transform:rotate(-36.21deg);
    z-index: 0;
    position: absolute;
    top:100px;
    right: 95px;

}
.sh{
    z-index: 1;
    position: absolute;
    right: 10px;
    bottom: 55px;
}

.card-h{
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 10px;
    
}
.nikearir{
    margin-left: 30px;
}
.c{
    font-size:40px;
    color: #000000;
}
.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* -------------------------below card------------- */

.conh4{
    display: flex;
    padding-left: 50px;
    margin-top: -30px;
    width:407px;
    position: relative;
    z-index: 10;
}
.first{
    display: flex;
    flex-direction: column;

}
.sec{
    display: flex;
    align-items: flex-end;
}
.year{
    margin-top: -20px;
}
/* ------------------------------third-page----------------------------- */

.third-con{
        background-color: #B3E140;
        padding-top: 20px;
        

}
.thi-container{
    width: 90%;
    margin: 0 auto;
    display: flex;

}
.t1{
    font-size: 203px;
    color: #000000;
}
/* -------------------------------fourth-container-------------------- */

.f-h{
    font-size: 152px;
   
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-1{
    margin-bottom: -10px;
}

.f-p{
    font-size:40px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p1{
    margin-bottom: -10px;
}
.fouth-con{
    width: 600px;
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-top: 70px;

}
.bg-cl{
    background-color: #B3E140;
    width: 100%;

}
.f-button{
    border: none;
    font-size: 30px;
    color: #000000;
}
.pop{
    padding-bottom: 50px;
}


/* ________________________________logo block__________________ */

.imgs{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}



-----------------------------------footer------------------

/* .navbar .container-fluid {
  padding: 0 !important;
}
.navbar {
  margin: 0 !important; */


/*
#btn{
    position: fixed;
    top: 10px;
    right: 10px;
}
.img-ul{
    list-style: none;
}

.log-img{
    
    object-fit:contain ;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
}
/* */
/* .green{
    margin-bottom: 11px;
} */ 
/*

.links-ul{
    margin: 50px;
    display: flex;
    list-style: none;
    gap: 48px;

    text-transform: lowercase;

    
}

.links-li a{
    text-decoration:none;
    color: black;
    font-size: 14px;
    letter-spacing: 0.5px;


}
*/
/* .nav-img{
    display: flex;
    gap :23px;
    /* margin-right: 60px; */
    



/*
.container{
    display: flex;
    position: relative;
    overflow: hidden;
}


.cont-btn h1{
    font-size: 102px;
    text-transform: lowercase;
    width: 763px;
    position: relative;
    right: 350px;
    letter-spacing: 2.5px;

}

.shoesimg{
    width: 1066px;
    height: 506px;
    z-index: 1;
    position: relative;
    bottom:140px;
    left: 39px;
}

.btnimg{
    /* width: 412px;
    height: 99px; */
    /* object-fit: cover;
    box-sizing: border-box;
    z-index: 8;
    position: relative;
    right:150px;
    top:40px
    
}
.cont-btn{
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.btnim{
    width: 412px;
    height: 99px;
}

 */ 





