 @font-face {
    font-family:"robo" ;
    src: url(ROBO.ttf);
}

*{
    font-family: "robo",sans-serif !important;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.line {
  width: auto;
  height: 2px;
  border: none;
  /* background-color: #B3E140; */
  background-image: linear-gradient(to right ,#B3E140 30%, #C4C4C4 30%,#C4C4C4);  
/* background-image: linear-gradient(#B3E140 30%,#C4C4C4 70%);   */

}




/* nav{
    display: flex;
    justify-content: space-between;
  
}
*/



.logo1{
    font-size: 37px;
    text-transform: lowercase;
    height: 184px;
    width: 167px;
    background-color: #B3E140;
    color: #000000;
    border-bottom-right-radius: 68px;
    padding: 50px 16px 55px 21px; 
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: start;


    
}
.liner{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 576px) {
    .logo1{
        height: 140px;
        width: 120px;
        font-size: 20px;
        padding: 3px;
        border-bottom-right-radius: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: start;


    }
    .images-ham{
        display: flex;
    }
}
.linked{
    gap: 40px;
}
/* ----------------------------------FIRST_container------------------------------ */

.h-cont h1{
    font-size: 102px;
    color:#000000
}
.button-con{
    width:412px;
    height: 99px;
    background-color:#75A304 ;
}
.button1{
    border: none;
    background-color:#75A304 ;
}


/* .navbar .container-fluid {
  padding: 0 !important;
}
.navbar {
  margin: 0 !important; */


/*
#btn{
    position: fixed;
    top: 10px;
    right: 10px;
}
.img-ul{
    list-style: none;
}

.log-img{
    
    object-fit:contain ;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
}
/* */
/* .green{
    margin-bottom: 11px;
} */ 
/*

.links-ul{
    margin: 50px;
    display: flex;
    list-style: none;
    gap: 48px;

    text-transform: lowercase;

    
}

.links-li a{
    text-decoration:none;
    color: black;
    font-size: 14px;
    letter-spacing: 0.5px;


}
*/
/* .nav-img{
    display: flex;
    gap :23px;
    /* margin-right: 60px; */
    



/*
.container{
    display: flex;
    position: relative;
    overflow: hidden;
}


.cont-btn h1{
    font-size: 102px;
    text-transform: lowercase;
    width: 763px;
    position: relative;
    right: 350px;
    letter-spacing: 2.5px;

}

.shoesimg{
    width: 1066px;
    height: 506px;
    z-index: 1;
    position: relative;
    bottom:140px;
    left: 39px;
}

.btnimg{
    /* width: 412px;
    height: 99px; */
    /* object-fit: cover;
    box-sizing: border-box;
    z-index: 8;
    position: relative;
    right:150px;
    top:40px
    
}
.cont-btn{
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.btnim{
    width: 412px;
    height: 99px;
}

 */ 





